<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="UTF-8">
		<title>よくある質問 | Lemonedo（レモネード）- 沖縄発の個人広告サービス</title>
		<script>
			if ((navigator.userAgent.indexOf('iPhone') > 0) || navigator.userAgent.indexOf('iPod') > 0 || navigator.userAgent.indexOf('Android') > 0) {
					document.write('<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">');
				}else{
					document.write('<meta content="width=1150" name="viewport">');
			}
		</script>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
		<link rel="stylesheet" href="css/drawer.min.css">
		<link rel="stylesheet" media="all" href="css/style.css">
		<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
		<script src="js/flexibility.js"></script>
		<script src="js/drawer.min.js"></script>
		<script src="js/jquery.inview.min.js"></script>
		<script src="js/footerFixed.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.1/TweenMax.min.js"></script>
		<script src="js/script.js"></script>
	</head>
	<body class="drawer drawer--top">
		<div class="cursor"></div>
		<div class="follower"></div>
		<!-- MENU -->
		<button type="button" class="drawer-toggle drawer-hamburger">
			<span class="sr-only">toggle navigation</span>
			<span class="drawer-hamburger-icon"></span>
			<span class="drawer-menu-text"></span>
		</button>
		<nav class="drawer-nav" role="navigation">
			<ul class="drawer-menu">
				<ul class="login-list">
					<li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>無料会員登録</a></li>
					<li><a href="#"><i class="fa fa-lock" aria-hidden="true"></i>ログイン</a></li>
				</ul>
				<li><a class="drawer-menu-item" href="#">ホーム</a></li>
				<li><a class="drawer-menu-item" href="#">Lemonedoについて</a></li>
				<li><a class="drawer-menu-item" href="#">ステッカーリスト</a></li>
				<li><a class="drawer-menu-item" href="#">よくある質問</a></li>
				<li><a class="drawer-menu-item" href="#">お問い合わせ</a></li>
				<li><a class="drawer-menu-item sub" href="#">利用規約</a></li>
				<li><a class="drawer-menu-item sub" href="#">広告掲載規約</a></li>
				<li><a class="drawer-menu-item sub" href="#">プライバシーポリシー</a></li>
				<li><a class="drawer-menu-item sub" href="#">会社概要</a></li>
				<ul class="sns-list">
					<li><a href="#" target="_blank" rel="noopener"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
					<li><a href="#" target="_blank" rel="noopener"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" target="_blank" rel="noopener"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
				</ul>
			</ul>
		</nav>

		<!--ヘッダー-->
		<header>
			<div class="logo">
				<p><a href="#"><img src="images/logo.png" alt="レモネード"></a></p>
			</div><!--logo end-->
			<div class="inner">
				<div class="btn-sticker">
					<div class="wrap">
						<ul>
							<li><a href="#">ステッカーをさがす</a></li>
							<li><a href="#">ステッカーを依頼する</a></li>
						</ul>
					</div><!--wrap end-->
				</div><!--btn-sticker end-->
			</div><!--inner end-->
			<div class="link-login">
				<div class="wrap">
					<ul>
						<li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>無料会員登録</a></li>
						<li><a href="#"><i class="fa fa-lock" aria-hidden="true"></i>ログイン</a></li>
					</ul>
				</div><!--wrap end-->
			</div><!--link-login end-->
		</header>

		<!--グローバルナビ-->
		<nav class="gnavi">
			<ul>
				<li><a href="#">ホーム</a></li>
				<li><a href="#">Lemonedoについて</a></li>
				<li><a href="#">ステッカーリスト</a></li>
				<li><a href="#" class="now">よくある質問</a></li>
				<li><a href="#">お問い合わせ</a></li>
			</ul>
		</nav>
		
		<!--sns-->
		<div class="sns-box only-pc">
			<ul>
				<li><a href="#" target="_blank" rel="noopener"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
				<li><a href="#" target="_blank" rel="noopener"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="#" target="_blank" rel="noopener"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
			</ul>
			<p class="copy">2020 &copy; Lemonedo.com</p>
		</div><!--sns-box end-->

		<!--コンテンツ-->
		<main role="main">
			<article>
				<div class="com-visual">
					<h1><span class="move">FAQ</span></h1>
					<h2>よくある質問</h2>
				</div><!--com-visual end-->
				
				<div class="faq inner fadeInUp">
					<dl id="acMenu">
						<dt>
							<table>
								<tbody>
									<tr>
										<th><p>Q</p></th>
										<td>Lemonedoとは？</td>
									</tr>
								</tbody>
							</table>
						</dt>
						<dd>マイカーに応援したい企業やサービスのステッカーを貼ってドライブするだけで収入を得ることができます。<br>
						応援したい企業・サービスを繋ぐプラットフォームです。</dd>
						<dt>
							<table>
								<tbody>
									<tr>
										<th><p>Q</p></th>
										<td>他人名義の車でも利用できますか？</td>
									</tr>
								</tbody>
							</table>
						</dt>
						<dd>車検証の所有者名義人様がご利用いただけるサービスです。<br>
						虚偽の申請が発覚した場合、報酬はお支払いできません。</dd>
						<dt>
							<table>
								<tbody>
									<tr>
										<th><p>Q</p></th>
										<td>年齢制限はありますか？</td>
									</tr>
								</tbody>
							</table>
						</dt>
						<dd>免許をお持ちの方で70歳未満が本サービスの対象になります。</dd>
						<dt>
							<table>
								<tbody>
									<tr>
										<th><p>Q</p></th>
										<td>車以外での利用も可能ですか？</td>
									</tr>
								</tbody>
							</table>
						</dt>
						<dd>現在、普通自動車のみの対応となります。<br>※2輪、3輪の自動車は不可。</dd>
						<dt>
							<table>
								<tbody>
									<tr>
										<th><p>Q</p></th>
										<td>複数のステッカーに申し込めますか？</td>
									</tr>
								</tbody>
							</table>
						</dt>
						<dd>現在、1ユーザに対して1枚のみの対応となります。</dd>
						<dt>
							<table>
								<tbody>
									<tr>
										<th><p>Q</p></th>
										<td>初期費用はかかりますか？</td>
									</tr>
								</tbody>
							</table>
						</dt>
						<dd>無料です。</dd>
						<dt>
							<table>
								<tbody>
									<tr>
										<th><p>Q</p></th>
										<td>免許証記載の住所と現在所が異なります。</td>
									</tr>
								</tbody>
							</table>
						</dt>
						<dd>ご住所に変更がある方は最寄りの警察署にて住所変更の手続きをよろしくお願いいたします。</dd>
						<dt>
							<table>
								<tbody>
									<tr>
										<th><p>Q</p></th>
										<td>法人も利用可能ですか？</td>
									</tr>
								</tbody>
							</table>
						</dt>
						<dd>可能です。</dd>
						<dt>
							<table>
								<tbody>
									<tr>
										<th><p>Q</p></th>
										<td>どんな広告でも出せますか？</td>
									</tr>
								</tbody>
							</table>
						</dt>
						<dd>掲載できる広告内容については、<a href="https://www.lemonedo.com/rule">広告掲載規約</a>をご確認ください。</dd>
						<dt>
							<table>
								<tbody>
									<tr>
										<th><p>Q</p></th>
										<td>期間中にステッカーが剥がれたり、運転する車が変わった場合はどうしたらいいですか？</td>
									</tr>
								</tbody>
							</table>
						</dt>
						<dd>事務局へお問い合わせください。<br>
						050-1748-5410（営業時間：平日10時〜18時）</dd>
						<dt>
							<table>
								<tbody>
									<tr>
										<th><p>Q</p></th>
										<td>退会したい。</td>
									</tr>
								</tbody>
							</table>
						</dt>
						<dd>事務局へお問い合わせください。<br>
						050-1748-5410（営業時間：平日10時〜18時）</dd>
						<dt>
							<table>
								<tbody>
									<tr>
										<th><p>Q</p></th>
										<td>違反行為をしたらどうなりますか？</td>
									</tr>
								</tbody>
							</table>
						</dt>
						<dd><a href="https://www.lemonedo.com/rule">利用規約</a>に書かれている行為をした場合、退会対応をさせていただきます。<br>
						その場合、二度と登録ができなくなりますのでご注意ください。<br>
						悪意がある行為、不正行為に対してはこのサービスをご利用いただいている皆様に迷惑がかかることになりますので厳重に対処いたします。</dd>
						<dt>
							<table>
								<tbody>
									<tr>
										<th><p>Q</p></th>
										<td>ログインができません。</td>
									</tr>
								</tbody>
							</table>
						</dt>
						<dd>登録アドレスが不明な場合は、事務局へお問い合わせください。<br>
						パスワードが不明な場合は、「パスワードがわからない？」から再設定をお願い致します。</dd>
						<dt>
							<table>
								<tbody>
									<tr>
										<th><p>Q</p></th>
										<td>外国籍でも利用可能ですか？</td>
									</tr>
								</tbody>
							</table>
						</dt>
						<dd>現在は、車検証・免許証が日本国籍(沖縄県在住)の方のみを対象としております。</dd>
						<dt>
							<table>
								<tbody>
									<tr>
										<th><p>Q</p></th>
										<td>個人情報はどのように使われますか？</td>
									</tr>
								</tbody>
							</table>
						</dt>
						<dd>会員の個人情報は当サービスの利用及び運営に必要な範囲において取扱います。<br>
						弊社<a href="https://www.lemonedo.com/privacy-policy">プライバシーポリシー</a>をご確認ください。</dd>
						<dt>
							<table>
								<tbody>
									<tr>
										<th><p>Q</p></th>
										<td>ステッカーは車のどこに貼りますか？</td>
									</tr>
								</tbody>
							</table>
						</dt>
						<dd>普通自動車の背面または側面に設置をお願い致します。<br>
							<ul>
								<li><img src="images/car_icon_01.png" alt=""></li>
								<li><img src="images/car_icon_02.png" alt=""></li>
							</ul>
						</dd>
						<dt>
							<table>
								<tbody>
									<tr>
										<th><p>Q</p></th>
										<td>申し込みからステッカーが届くまではどのくらいかかりますか？</td>
									</tr>
								</tbody>
							</table>
						</dt>
						<dd>原則、走行開始日の2週間前までにお届け予定となります。<br>
						※災害などにより、物流の影響で遅延の可能性もございます。</dd>
						<dt>
							<table>
								<tbody>
									<tr>
										<th><p>Q</p></th>
										<td>ステッカーが届きません。</td>
									</tr>
								</tbody>
							</table>
						</dt>
						<dd>走行開始の2週間前までにステッカーが届かない場合は、事務局へお問い合わせください。<br>
						050-1748-5410（営業時間：平日10時〜18時）</dd>
						<dt>
							<table>
								<tbody>
									<tr>
										<th><p>Q</p></th>
										<td>申し込んだステッカーを変更したい。<br>（他のステッカーに申し込みしたい。）</td>
									</tr>
								</tbody>
							</table>
						</dt>
						<dd>一度申請を行い承諾されると基本的には変更を行うことができません。</dd>
						<dt>
							<table>
								<tbody>
									<tr>
										<th><p>Q</p></th>
										<td>ステッカーが紛失・盗難されてしまった。</td>
									</tr>
								</tbody>
							</table>
						</dt>
						<dd>ステッカーの再発行の手続きを行いますので事務局へお問い合わせください。<br>
						（再発行手数料がかかる場合があります。）</dd>
						<dt>
							<table>
								<tbody>
									<tr>
										<th><p>Q</p></th>
										<td>ステッカーを貼ることで車に傷がつきませんか？</td>
									</tr>
								</tbody>
							</table>
						</dt>
						<dd>弊社利用規約に則り対応いたします。</dd>
						<dt>
							<table>
								<tbody>
									<tr>
										<th><p>Q</p></th>
										<td>洗車してもステッカーは剥がれませんか？</td>
									</tr>
								</tbody>
							</table>
						</dt>
						<dd>基本的には剥がれない仕様になっておりますが、万が一剥がれた場合は、事務局へお問い合わせください。<br>
						050-1748-5410（営業時間：平日10時〜18時）</dd>
						<dt>
							<table>
								<tbody>
									<tr>
										<th><p>Q</p></th>
										<td>振込日はいつですか？</td>
									</tr>
								</tbody>
							</table>
						</dt>
						<dd>活動報告の申請の締め切り日は、毎月10日になります。<br>
						振込は、活動報告申請の当月の25日になります。<br>
						25日が祝日の場合は翌営業日となります。<br>
						※営業日は土・日・祝、年末年始（12/30〜1/3）を除く平日を指します。<br>
						※10日までに報告が事務局にて確認できない場合その月の 活動が無効となりますのでご注意ください。</dd>
						<dt>
							<table>
								<tbody>
									<tr>
										<th><p>Q</p></th>
										<td>振込はいくらからしてもらえますか？</td>
									</tr>
								</tbody>
							</table>
						</dt>
						<dd>報酬金額が3,000円以上（税込み）から振込致します。</dd>
						<dt>
							<table>
								<tbody>
									<tr>
										<th><p>Q</p></th>
										<td>確定申告は必要ですか？</td>
									</tr>
								</tbody>
							</table>
						</dt>
						<dd>給与所得がある方：20万円（税込み）超の利益（所得）が生じた場合、給与所得がない方：38万円（税込み）超の利益（所得）が生じた場合、なお、所得税（国税）の確定申告が必要でない場合でも、給与所得に加えて給与所得以外の所得（所得税の課税対象となる譲渡所得等）があった方等、住民税（地方税）について所得の申告が必要になることがあります。<br>
						以上は一般的な見解となります。詳細は最寄りの税務署・地方公共団体、もしくは税理士の方にご確認ください。</dd>
					</dl>
				</div><!--faq end-->
			</article>
		</main>

		<!--フッター-->
		<div id="footer">
			<footer>
				<div class="inner">
					<nav class="fnavi">
						<ul>
							<li><a href="#">利用規約</a></li>
							<li><a href="#">広告掲載規約</a></li>
							<li><a href="#">プライバシーポリシー</a></li>
							<li><a href="#">会社概要</a></li>
						</ul>
					</nav>
					<div class="sns-box only-sp">
						<ul>
							<li><a href="#" target="_blank" rel="noopener"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#" target="_blank" rel="noopener"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#" target="_blank" rel="noopener"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
						</ul>
						<p class="copy">2020 &copy; Lemonedo.com</p>
					</div><!--sns-box end-->
				</div><!--inner end-->
			</footer>
		</div><!--#footer end-->
		
		<!--下部固定-->
		<div class="footer-fixed">
			<div class="btn-sticker">
				<div class="wrap">
					<ul>
						<li><a href="#">ステッカーをさがす</a></li>
						<li><a href="#">ステッカーを依頼する</a></li>
					</ul>
				</div><!--wrap end-->
			</div><!--btn-sticker end-->
		</div><!--footer-fixed end-->
		
		<!--ページトップ-->
		<p class="pagetop"><a href="#"><img src="images/pagetop.png" alt=""></a></p>
	</body>
</html>
